# Firebase configuration
.dart_tool/
.idea/
.vscode/
build/
linux/
macos/
windows/
web/
functions/node_modules/
.env
.flutter-plugins
.flutter-plugins-dependencies
.metadata
node_backend/node_modules/
lib/firebase_options.dart
lib/google_credentials.dart
pubspec.lock
*.log
