# Firebase configuration
android/app/google-services.json
.dart_tool/
.idea/
.vscode/
android/
build/
ios/
linux/
macos/
windows/
web/
.env
.flutter-plugins
.flutter-plugins-dependencies
.metadata
firebase.json
node_backend/node_modules/
flutter_frontend/assets/google_credentials.json
lib/firebase_options.dart
lib/google_credentials.dart
lib/api_keys.dart
