<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069851910435-u9d6hltn6lou68sf23bre0374f0avaq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069851910435-u9d6hltn6lou68sf23bre0374f0avaq0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1069851910435-4c4k18ttb4ldqk6u0v93bm4c92uf2231.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdXIZrluBfiDR_HZtwnIZUrnwNHbzEciA</string>
	<key>GCM_SENDER_ID</key>
	<string>1069851910435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iaquick.app</string>
	<key>PROJECT_ID</key>
	<string>windows-9e44e</string>
	<key>STORAGE_BUCKET</key>
	<string>windows-9e44e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069851910435:ios:65850f2948e4ee71322c96</string>
</dict>
</plist>